architecture: replicaset
replicaCount: 3
replicaSetName: rs0

service:
  port: 27017

persistence:
  enabled: true
  storageClass: "microk8s-hostpath"
  accessMode:
    - ReadWriteOnce
  size: 1Gi
  annotations: {}
startupProbe:
  successThreshold: 1
