apiVersion: v1
kind: Service
metadata:
  name: sugarizer-service-server-{{required "schoolShortName not defined" .Values.deployment.schoolShortName}}
  namespace: sugarizer-{{required "schoolShortName not defined" .Values.deployment.schoolShortName}}
spec:
  selector:
    school: {{required "schoolShortName not defined" .Values.deployment.schoolShortName}}
    app: http
  ports:
    - name: web
      port: 80
      targetPort: 8080
      protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: sugarizer-service-ws-{{required "schoolShortName not defined" .Values.deployment.schoolShortName}}
  namespace: sugarizer-{{required "schoolShortName not defined" .Values.deployment.schoolShortName}}
spec:
  selector:
    school: {{required "schoolShortName not defined" .Values.deployment.schoolShortName}}
    app: http
  ports:
    - name: websocket
      port: 8039
      targetPort: 8039
      protocol: TCP
